{% load static %}

<section class="section blog-area">
    <div class="container">

        <div class="row" >
            <div class="row" style="margin-top: -10px; margin-bottom: 50px;">

                <div class="col-md-2">
                    <a href="/user/addannouncement/{{ rs.id }}" ><img src="{% static 'images/announcement.png' %}"><b style="font-size: larger; font-family: 'Arial Black'; text-align: center">Duyuru Paylaş </b></a>
                </div><div class="col-md-1"></div>

                <div class="col-md-2">
                    <a href="/contact" ><img src="{% static 'images/location-map.png' %}"><b style="font-size: larger; font-family: 'Arial Black';text-align: center">İletişim & Adres</b></a>
                </div><div class="col-md-1"></div>

                <div class="col-md-2">
                    <a href="/signup" ><img src="{% static 'images/member-add.png' %}"><b style="font-size: larger; font-family: 'Arial Black'">Üye Kayıt</b></a>
                </div><div class="col-md-1"></div>


                <div class="col-md-2">
                    <a href="" ><img src="{% static 'images/image-share.png' %}"><b style="font-size: larger; font-family: 'Arial Black'">Galeri</b></a>
                </div> <div class="col-md-1"></div>

            </div>
            <div class="col-lg-7 col-md-12">
                <div class="blog-posts">
                    <h2 style="  font-family: 'Times New Roman' ;color:red;margin-bottom: 30px">HABERLER VE DUYURULAR</h2>
                    {% for rs in homepageAnnouncement %}
                        <div class="single-post">

                            <div class="image-wrapper"><a href="/announcement/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}"
                                                                                                              alt="Blog Image"></a></div>
                            <p class="date"><em>{{ rs.create_at }}</em></p>
                            <h3 class="title"><a href="/announcement/{{ rs.id }}/{{ rs.slug }}"><b
                                    class="light-color">{{ rs.title }}</b></a></h3>
                            <p>{{ rs.detail|safe }}</p>
                            <a class="btn read-more-btn" href="/announcement/{{ rs.id }}/{{ rs.slug }}"><b>READ MORE</b></a>
                        </div><!-- single-post -->
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-1 col-md-12"></div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-area">

                    <script>

                        $(function () {
                            $("#query").autocomplete({
                                source: "/search_auto/",
                                select: function (event, ui) { //item selected
                                    AutoCompleteSelectHandler(event, ui)
                                },
                                minLength: 2,
                            });
                        });

                        function AutoCompleteSelectHandler(event, ui) {
                            var selectedObj = ui.item;
                        }

                    </script>

                    <div class="sidebar-section src-area">

                        <form action="/search/" method="post">
                            {% csrf_token %}
                            <input id="query" name="query" class="src-input" type="text" placeholder="Search">
                            <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                        </form>

                    </div>
                    <div class="sidebar-section category-area">
                        <h3 class="title" style="color: #0000cc; font-family: 'Times New Roman'">DUYURULAR</h3>
                        {% load mptt_tags %}
                        <ul style="color: red">{% recursetree category %}
                            {% if  node.is_leaf_node %}
                                <li>
                                    <a class="category" href="/category/{{ node.id }}/{{ node.slug }}">
                                        <img src="{{ node.image.url }}" alt="Category Image">
                                        <h6 class="name">{{ node.title }}</h6>
                                    </a>
                                </li>
                            {% endif %}
                            {% if not  node.is_leaf_node %}
                                <li >
                                    <a class="category" href="/category/{{ node.id }}/{{ node.slug }}">
                                        <img src="{{ node.image.url }}" alt="Category Image">
                                        <h6 class="name">{{ node.title }}</h6>
                                    </a>
                                    <ul >
                                        {{ children }}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endrecursetree %}
                        </ul>
                    </div><!-- sidebar-section category-area -->

                    <div class="sidebar-section latest-post-area">
                        <h4 class="title"><b class="light-color">Latest Posts</b></h4>
                        {% for last in latestdata %}
                        <div class="latest-post" href="#">
                            <div class="l-post-image"><img src="{{ last.image.url }}"
                                                           alt="Category Image"></div>
                            <div class="post-info">
                                <a style="font-size: smaller; background-color: #7ef0ff" href="/announcement/{{ last.id }}/{{ last.slug }}">{{ last.title }}</a>
                                <a href="/announcement/{{ last.id }}/{{ last.slug }}"><b class="light-color" style="font-size: smaller">{{ last.detail|safe  }}</b></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div><!-- sidebar-section latest-post-area -->

  <!-- TAG -->
                    <div class="sidebar-section tags-area">
                        <h4 class="title"><b class="light-color">Tags</b></h4>
                        {% for tag in content %}
                        <li class="tags">
                            <a class="btn" href="/menu/{{ tag.id }}/{{ tag.slug }}">{{ tag.keywords }}</a>
                        </li>
                        {% endfor %}
                    </div><!-- sidebar-section tags-area -->


                </div><!-- about-author -->
            </div><!-- col-lg-4 -->
        </div><!-- row -->
    </div><!-- container -->
</section><!-- section -->


<section class="footer-instagram-area">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="title"><b class="light-color">Follow me &copy; instagram</b></h5>
            </div><!-- col-lg-4 -->
        </div><!-- row -->
    </div><!-- container -->

    <ul class="instagram">
        {% for rs in sliderdata %}
            <li><a href="#"><img src="{{ rs.image.url }}" alt="Instagram Image"></a></li>
        {% endfor %}
    </ul>
</section><!-- section -->
