{% extends "homebase.html" %}
{% load static %}
{% block title %}      SIKÇA SORULAN SORULAR              {% endblock %}

{% block head %}

    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- Stylesheets -->
    <link href="{% static 'common-css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'common-css/ionicons.css' %}" rel="stylesheet">
    <link href="{% static '04-Contact/css/styles.css' %}" rel="stylesheet">
    <link href="{% static '04-Contact/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static '01-homepage/css/styles.css' %}" rel="stylesheet">
    <link href="{% static '01-homepage/css/responsive.css' %}" rel="stylesheet">

    <script>
        $( function() {
            $( "#accordion" ).accordion();
        } );
    </script>
{% endblock %}

{% block body  %}

    <section class="blog-area" style=" padding: 269px;">

        <div id="breadcrumb" style="margin-left: -265px; margin-right: -265px;">
            <ul class="breadcrumb">
                <li><a href="/home"><b>Anasayfa > </b></a></li>
                <li><a href="/faq"><b>Sıkça Sorulan Sorular</b></a></li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <div class="single-post">
                        <h3 class="title" style="text-align: center;">
                            <b class="light-color">Sıkça Sorulan Sorular</b>
                        </h3>
                        <hr>

                            <div id="accordion">
                                {% for rs in faq %}
                                    <h4 ><b>{{ rs.question }}</b></h4>
                                    <p>{{ rs.answer }}</p>
                                  {% endfor %}
                            </div>




                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


<script src="{% static 'common-js/tether.min.js' %}"></script>

<script src="{% static 'common-js/bootstrap.js' %}"></script>

<script src="{% static 'common-js/scripts.js' %}"></script>

