{% extends "homebase.html" %}
{% load static %}
{% block title %}          SIGN UP SAYFASI              {% endblock %}

{% block head %}

    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- Stylesheets -->
    <link href="{% static 'common-css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'common-css/ionicons.css' %}" rel="stylesheet">
    <link href="{% static '04-Contact/css/styles.css' %}" rel="stylesheet">
    <link href="{% static '04-Contact/css/responsive.css' %}" rel="stylesheet">


{% endblock %}

{% block body %}

    <section class="blog-area" style=" padding: 269px; ">

        <div id="breadcrumb" style="margin-left: -265px; margin-right: -265px;">
            <ul class="breadcrumb">
                <li><a href="/home"><b>Anasayfa > </b></a></li>
                <li><a href="/signup"><b>Sign Up </b></a></li>
            </ul>
        </div>

        <div class="container" style="margin-right: -250px">
            <div class="row">
                <div class=" col-md-6" style="margin-top: 10px; background-color: whitesmoke ">
                    <div class="blog-posts">
                        <div class="leave-comment-area">
                            <h3 class="title" style="height: 50px; margin-top: -30px;"><b class="light-color">SIGN
                                UP</b></h3>
                            <div class="leave-comment">

                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}

                            <!-- SIGN UP FORMU -->
                                <form method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <p>
                                            {{ field.label_tag }}
                                            {{ field }}
                                            {% for error in field.errors %}
                                                <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                        </p>
                                      {% endfor %}
                                      <button class="btn btn-2" type="submit"><b>SIGN UP</b></button>

                                </form>


                            </div><!-- comments-area -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}


<script src="{% static 'common-js/tether.min.js' %}"></script>

<script src="{% static 'common-js/bootstrap.js' %}"></script>

<script src="{% static 'common-js/scripts.js' %}"></script>